In [3]:
print('Olá, Mundo! ')
print(7 + 4)
print('7' + '4')
print('Olá', 5)

# toda variável é um objeto
nome = 'Guanabara' 
idade = 25
peso = 75.8

print(nome, idade, peso)

Olá, Mundo!
11
74
Olá 5
Guanabara 25 75.8

In [4]:
nome = input('Digite seu nome: ')
idade = input('Digite sua idade: ')
peso = input('Digite seu peso: ')

print(nome, idade, peso)

Digite seu nome: Marcelo
Digite sua idade: 28
Digite seu peso: 83.5
Marcelo 28 83.5

In [17]:
# DESAFIO 01 

nome = input('Qual é o seu nome? ')
print(f"Olá {nome}, prazer em te conhecer!")

Qual é o seu nome? Marcelo
Olá Marcelo, prazer em te conhecer!

In [22]:
# DESAFIO 02

dia = input('Dia = ')
mes = input('Mes = ')
ano = input('Ano = ')
print(f'Você nasceu no dia {dia} de {mes} de {ano}. Correto?')

Dia = 16
Mes = Maio
Ano = 1994
Você nasceu no dia 16 de Maio de 1994. Correto?

In [30]:
# DESAFIO 03

n1 = int(input('Primeiro número: '))
n2 = int(input('Segundo número: '))
print(f'A soma é {n1 + n2}')

Primeiro número: 15
Segundo número: 25
A soma é 40