**Regular Expressions (Regex) - Python**

In [5]:
# Importando biblioteca
import re

**Caracteres:**

In [ ]:
# .  - Entende qualquer valor exceto uma nova linha (\n)
# \. - Para buscar o caracter "."

texto = '''
ar\nra
arara
arbra
'''
padrao = re.compile("ar.ra") 
check = padrao.findall(texto)
print(check)

['arara', 'arbra']

In [8]:
# ^  - Irá testar o início da string
#[^] - Irá considerar todos os caracteres EXCETO o indicado

texto = "arara"
p1 = re.compile("^a") # se uma string começar com 'a'.. 
p2 = re.compile("[^a]") # busca todos os caracteres menos 'a'
check = p1.findall(texto)
check2 = p2.findall(texto)
print(check)
print(check2)

['a']
['r', 'r']

In [12]:
# \d - Qualquer caracter que SEJA um algarismo de 0 a 9
# \D - Qualquer caracter que NÃO SEJA um algarismo de 0 a 9

texto = "arara1992"
p1 = re.compile(r"\d") # 'r' para dizer que é relacionado ao REGEX
p2 = re.compile(r'\D')
check = p1.findall(texto)
check2 = p2.findall(texto)
print(check)
print(check2)

['1', '9', '9', '2']
['a', 'r', 'a', 'r', 'a']

In [14]:
# \s - Qualquer caracter que SEJA vazio
# \S - Qualquer caracter que NÃO SEJA vazio

texto = ''' 

arara 1992

'''

p1 = re.compile(r"\s")
p2 = re.compile(r"\S")
check = p1.findall(texto)
check2 = p2.findall(texto)
print(check)
print(check2)

[' ', '\n', '\n', ' ', '\n', '\n']
['a', 'r', 'a', 'r', 'a', '1', '9', '9', '2']

In [ ]:
# \w - Qualquer caracter que SEJA alfanumérico
# \W - Qualquer caracter que NÃO SEJA alfanumérico

**Exemplo de classe com uso de re.search()**

In [3]:
import re

class Estoque:
  def __init__(self, item, preco):
    self.item = item
    self.preco = preco

  def aplica_desconto(self, percentual):
    self.preco = self.preco - (self.preco * (percentual / 100) )

  @property # decorator
  def preco(self):
    return self._preco # tem _ no preco

  @preco.setter
  def preco(self, novo_preco):
    if isinstance(novo_preco, str):
      novo_preco = re.search(r'(\d+)', novo_preco)
    self._preco = novo_preco

calcado001 = Estoque('Tênis Adidas 44', 299)
calcado001.aplica_desconto(20)


print(f'{calcado001.item} // Valor com desconto: R$ {calcado001.preco}')

Tênis Adidas 44 // Valor com desconto: R$ 239.2